$grid-breakpoints: (
    s: 479.9px,
    xs: 767.9px,
    sm: 1023.9px,
    md: 1279.9px,
    lg: 1439.9px,
    xl: 1599.9px,
);

$widths: (
    s: 480px,
    xs: 768px,
    sm: 1024px,
    md: 1280px,
    lg: 1440px,
    xl: 1600px,
);