%fontBase {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

%fontMenu {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

%titleMain {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.7px;
}

%titleSubmain {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.7px;
    text-align: center;
}