@use 'sass:map';

@use '../../assets/styles/common/typography';
@use '../../assets/styles/common/colors' as vars;
@use '../../assets/styles/common/mixins' as mixin;
@use '../../assets/styles/common/breakpoints' as bp;

.container-categories {
    font-family: 'Montserrat', sans-serif;

    @media (max-width: map.get(bp.$grid-breakpoints, s)) {
        @include mixin.leftRight;
    }
}

.categories-inner {
    margin-top: 40px;
    @include mixin.alingCenter;
    justify-content: center;

    &__title {
        font-size: 30px;
        color: vars.$black;

        @media (max-width: map.get(bp.$grid-breakpoints, md)) {
            font-size: 20px;
        }

        @media (max-width: map.get(bp.$grid-breakpoints, s)) {
            font-size: 18px;
        }
    }
}

.categories-slider {
    margin-top: 20px;
    @include mixin.alingCenter;
}

.categories-slider__viewport {
    flex: 1 1 auto;
    @include mixin.sliderViewport;
}

.categories-slider__viewport::-webkit-scrollbar {
    display: none;
}

.categories-slider__track {
    @include mixin.flexBetween;
    gap: 20px;
    min-width: 100%;
}

/* ========= Cards ========= */
.category {
    /* md и выше (≥1280px): 4 карточки */
    flex: 0 0 calc((100% - 60px) / 4);
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    scroll-snap-align: start;

    /* sm (1024–1279px): 3 карточки */
    @media (max-width: map.get(bp.$grid-breakpoints, md)) {
        flex: 0 0 calc((100% - 40px) / 3);
        height: 350px;
    }

    /* xs (768–1023px): 2 карточки */
    @media (max-width: map.get(bp.$grid-breakpoints, sm)) {
        height: 300px;
    }

    /* s (<768px): 2 карточки */
    @media (max-width: map.get(bp.$grid-breakpoints, xs)) {
        flex: 0 0 calc(50% - 10px);
        height: 250px;
    }

    &__link {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 16px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    &__title {
        font-size: 20px;
        color: vars.$black;

        @media (max-width: map.get(bp.$grid-breakpoints, xs)) {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.5px;
        }

        @media (max-width: map.get(bp.$grid-breakpoints, s)) {
            font-size: 16px;
            line-height: 18px;
        }
    }
}